name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
    types: [ opened, edited, synchronize, reopened ]

jobs:
  build:
    name: Build and Test project
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4
    - name: Init
      run: |
        make init
    - name: Build
      run: |
        make build
    - name: SPM Build
      run: |
        make spm_build
    - name: Test
      run: |
        make test
    - name: Example Build
      run: |
        make example_build
